dev
*todo.md
*/*/todo.md
*/*/notes.*
./src/services/scrapper/reqs/
./src/services/scrapper/bak/
./src/services/scrapper/testing/
./src/services/scrapper/reqs/**
./src/services/scrapper/bak/**
./src/services/scrapper/testing/**
