debug: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5439/mydatabase
    username: admin
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format-sql: true;
    show-sql: true
    database: postgresql
  flyway:
    enabled: false
    baseline-on-migrate: true
    validate-on-migrate: true
    # default-schema: "public"
