spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5439/mydatabase
    username: admin
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format-sql: true;
    show-sql: false
    database: postgresql
